

/* Mobilon nincs mask */
@media only screen and (max-width: 500px) {
  .gallery-container {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

/* Végtelen scroll animáció */
.gallery-track {
  animation: scroll-horizontal 60s linear infinite;
}

/* Kulcsanimáció – 1:1 az eredetivel */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* CSAK a képekre hasson */
.gallery-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}