.modal-background {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  background-color: var(--white);
  color: black;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.3s ease;
  text-align: center;
}

/* Gombok, ha szeretnél egységes kinézetet */
.modal button {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #0077cc;
  color: white;
  transition: background-color 0.2s ease;

}
.modal input{
  width: 100%;
  padding: 6px;
}
.loginRegistrationDiv form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   justify-content: space-evenly;
}
.loginRegistrationDiv{
  width: 100%;
  height: 100%;
}
.loginRegistrationDiv input{
    width: 100%;
    height: 40px;
    padding: 6px 18px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 16px;
}
.loginRegistrationDiv h1{
  font-size: 24px;
}
.loginRegistrationDiv p{
  font-size: 16px;
}
.loginRegistrationDiv button{
  width: 60%;
  align-self: center;
}

.modal button:hover {
  background-color: var(--yellow);
}

/* Animációk */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
